@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* Navbar */
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

body {
  margin: 0;
}

nav {
  background-color: #ebeaea;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li,
img {
  margin-right: 25px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li .active {
  color: orangered;
}

.nav-left {
  flex: 50%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

/* blog form */
.blog-form {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 500px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.blog-form form label {
  font-size: 20px;
  font-weight: 400;
}

.input-name input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background: #f4f3f3;
  padding: 10px;
}

.blog-form form
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.blog-form form textarea {
  height: 250px;
  resize: none;
}

.blog-form form .input-project-date {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}

.blog-form form .input-project-date input {
 width: 100%;
 padding: 10px 10px;
 border: 1px solid #c4c4c4;
 border-radius: 5px;
 background: #f4f3f3;
}

.checkbox-container {
  font-size: large;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.checkbox-item {
  width: 100%;
  justify-content: start;
  display: flex;
}

.checkbox-item input {
  width: 20%;
}

/* input[type="checkbox"] {
  width: 10px;
} */

.input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

.input-blog-image-group label p {
  margin-right: 400px;
  font-size: 15px;
}

.input-blog-image-group label {
  background-color: #c4c4c4;
  border-radius: 5px;
  width: 60px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.blog-form form button {
  padding: 10px 25px;
  float: right;
  margin-top: 20px;
  font-size: 17px;
  background: black;
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* bloglist */
.list-content {
  text-align: center;
  font-size: large;
}
.blog-content {
    width: 100%;
    text-align: justify;
  }
  
  .blog-content h1 {
    text-align: center;
  }
  
  .container-card {
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    
  }

  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    row-gap: 30px;
    column-gap: 8px;
  }

.card-content {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
  border-style: none;
  }

.card-content img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }

.card-content h1 {
    text-align: left;
    font-size: 15px;
  }

.card-content p {
    font-size: small;
    padding-top: none;
  }

.card-content div i {
    margin: 10px 10px;
    font-size: 30px;
    cursor: pointer;
  }

 .card-content div i:hover {
    color: goldenrod;
  }

.card-content .ctn-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ctn-btn .btn-left,
  .ctn-btn .btn-righ {
    flex: 50%;
  }

  .ctn-btn button {
    font-size: 15px;
    background-color: black;
    width: 140px;
    color: white;
    border-radius: 5px;
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

.ctn-btn button:hover {
    background-color: orangered;
  }

/* .blog-content .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
  } */