@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* Navbar */
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

body {
  margin: 0;
}

nav {
  background-color: #ebeaea;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li,
img {
  margin-right: 25px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li .active {
  color: orangered;
}

.nav-left {
  flex: 50%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

/* Blog Detail */
.blog-detail {
    background-color: #ebeaea;
  padding: 20px 0px;
  margin: 20px 10px;
  border-radius: 20px;
  padding-bottom: 30px;
}

.blog-detail h1 {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
}

.left-header img {
  width: 800px;
  height: 500px;
}

.right-header {
  margin-right: 200px;
  width: 250px;
}
.header-detail {
  margin: 0 20px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.duration i {
  margin-right: 10px;
  font-size: 26px;
  margin-top: 8px;
}

.duration p {
  font-size: 16px;
}

.technologi {
  margin-top: 30px;
}

.technologi i {
  margin-right: 5px;
  font-size: 26px;
  margin-top: 8px;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.paragraph {
  margin-top: 20px;
  padding: 20px 60px;
}

.paragraph p {
  font-size: 18px;
  text-align: justify;
}
