@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
}

/* Navbar */
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 20;
}

body {
    margin: 0;
    background-color: #dbdbdb;
  }
  
  nav {
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul li .active {
    color: orangered;
  }
  
  .nav-left {
    flex: 50%;
  }
  
  .nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
  }
  
  .nav-right a {
    background-color: orangered;
    padding: 8px 20px;
    color: white;
    border-radius: 5px;
  }

/* Contact */
.container-contact {
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

h1 {
    text-align: center;
}

form {
    width: 350px;
    margin: 50px auto;
    padding: 10px;
}

form div {
    margin-top: 15px;
}

label {
    font-weight: bold;
}

input, select, textarea {
    background-color: #dbdbdb;
    border-radius: 5px;
    border: none;
    width: 100%;
    resize: none;
}

input:hover {
    box-shadow: 0 0 10px black;
}

select:hover {
    box-shadow: 0 0 10px black;
}

textarea:hover {
    box-shadow: 0 0 10px black;
}

input, select{
    height: 30px;
}

.div-button {
    display: flex;
    align-items: end;
    justify-content: end;
}

button {
    background-color: orangered;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    width: auto;
    height: 30px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}